{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-boolean-value": "off",
    "import/no-commonjs": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-quotes": "off"
  }
}
